*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-primary-color : rgb(4, 8, 3);
    --bg-input-color : ;
    --primary-text-color: whitesmoke;

    /* font size */
    --font-size-xs: 4px;
    --font-size-sm : 8px;
    --font-size-md: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-2xl: 40px;
    --font-size-3xl: 48px;

    /* Spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg:24px;
    --space-xl :32px;
    --space-2xl: 40px;

    /* border-radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:16px;
    --border-radius-lg:24px;
    --border-radius-xl:32px;
    --border-radius-2xl:40px;

}

body{
    background-color: var(--bg-primary-color);
    color: var(--primary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-sm) var(--space-xs);
    
}

.navigation h1{
    font-size: var(--font-size-lg);
    font-family:'Arial Narrow Bold', sans-serif;
}
.btn{
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
}

section{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    
    gap: var(--space-lg);
    padding: var(--space-xs) var(--space-sm);
    
}

section .task-column{
    background-color: rgba(22, 22, 21, 0.829);
    flex-grow: 1;
    border-radius: var(--border-radius-md);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
     
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    transform: scale(1.01);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xs) var(--space-md);
}

.task{
    background-color: rgb(36, 35, 35);
    border-radius: var(--border-radius-md);
    margin: var(--space-xs) var(--space-sm);
    padding: 0px var(--space-sm);
    display: flex;
    flex-direction: column;
    cursor: grab;
}

.task h1{
    font-size: var(--font-size-lg);
}

.task .dltBtn{
   align-self: flex-end; 
   margin:  var(--space-sm);
   background-color: #eb3030;
   color: var(--primary-text-color);
   border: none;
   border-radius: var(--border-radius-sm);
   transition: all 0.3s ease;
}
.dltBtn:hover{
    transform: scale(1.1);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-primary-color);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    min-height: 25%;
    min-width: 20%;
    padding: var(--space-sm);
    gap: 15px;
    border-radius: var(--border-radius-md);
}
.hide{
    display: none;
}
.input-field{
    flex-grow: 1;
    width: 90%;
    background-color: rgba(26, 26, 27, 0.842);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-lg);
    padding: var(--space-xs) var(--space-sm);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea{
    width: 90%;
    resize: none;
    overflow: hidden;
}